.container-fluid {
    min-height: calc(100vh - 97px);
}

.watchbox {
    height: 80px;
    padding: 12px;
    cursor: pointer;
}

.close-icon {
    font-size: 12px;
    right: 4px;
    top: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
